@model Responses.Resquests.LoginResquest
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>- |Admin Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
           /*  background-image: url('https://tse3.mm.bing.net/th?id=OIG2.ulnTdG.s5dwY_Bocn57T&pid=ImgGn'); */
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .login-container {
            background: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
            border: 2px solid white; 
            width: 400px; 
        }

        .form-control {
            background: rgba(255, 255, 255, 0.8);
        }

        .remember-forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top:10px;
            margin-bottom: 10px;
        }
    </style>
    
</head>
<body>

<div class="login-container ">
    <h2>Welcome back</h2>
    <p>Login to your account</p>
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="TaiKhoan" >User name</label>
            <input type="text" class="form-control" asp-for="TaiKhoan" placeholder="account name">
            <span asp-validation-for="TaiKhoan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MatKhau">Password</label>
            <input type="password" asp-for="MatKhau" class="form-control" placeholder="*****">
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>
            <div>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div class="text-danger">@error.ErrorMessage</div>
                }
            </div>
        <div class="remember-forgot">
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block"> Login</button>
    </form>
</div>

</body>
</html>