@model WebView.NghiaDTO.MauSacDTO

<h2>Thêm mới màu sắc</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="TenMauSac">Tên  màu sắc</label>
        <input type="text" class="form-control" id="Ten" name="Ten" />
        <span asp-validation-for="Ten" class="text-danger"></span>
        <br />
        <label for="MaMauSac">Mã  màu sắc</label>
        <input type="text" class="form-control" id="MaHex" name="MaHex" />
        <span asp-validation-for="MaHex" class="text-danger"></span>
        
    </div>
    <button type="submit" class="btn btn-primary">Thêm màu sắc</button>
</form>
<a href="@Url.Action("Index")" class="btn btn-secondary">Quay lại</a>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}