@* <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab"> *@
    <!-- Đổi mật khẩu -->
    <div>
        <div>
            <h4 class="fw-bold text-uppercase">ĐỔI MẬT KHẨU</h4>
        </div>
        <div class="row">
            <form action="">

                <div class="col-12 mt-3">
                    <label for="mkCu" class="form-label">
                        Mật khẩu <span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="mkCu" value=""
                           placeholder="Nhập mật khẩu" required>
                    <div class="valid-feedback">
                        hợp lệ
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <label for="mkMoi" class="form-label">
                        Mật khẩu mới<span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="mkMoi" value=""
                           placeholder="Nhập mật khẩu" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập mật khẩu mới của bạn
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <label for="mkXacNhan" class="form-label">
                        Xác nhận mật khẩu<span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="mkXacNhan" value=""
                           placeholder="Nhập mật khẩu xác nhận" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập lại mật khẩu của bạn
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <button class="btn btn-danger" type="submit">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
@* </div> *@