@* <div class="tab-pane fade" id="v-pills-address" role="tabpanel"aria-labelledby="v-pills-address-tab"> *@
    <div>
    <div>
        <h4 class="fw-bold">ĐỊA CHỈ GIAO HÀNG</h4>
    </div>
    <div>

        <div class="mt-2 border-bottom">
            <div class="row mt-4">
                <div class="col-9">
                    <div class="d-flex">
                        <p class="fw-bold">Hoang</p><span class="ms-3 text-danger">Mặc định</span>
                    </div>
                    <div>
                        <div class="d-flex">
                            <p class="me-2">Địa chỉ: </p><span>
                                To 10, Quang Trung, Thái Nguyên, Thái
                                Nguyên
                            </span>
                        </div>
                        <div class="d-flex">
                            <p class="me-2">Điện thoại: </p><span>0981642651</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex flex-column text-end">
                        <a href="#" class="text-dark">Chỉnh sửa</a>
                        <a href="#" class="text-danger">Xóa</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-2 border-bottom">
            <div class="row mt-4">
                <div class="col-9">
                    <div class="d-flex">
                        <p class="fw-bold">Hoang</p><span class="ms-3 text-danger">Mặc định</span>
                    </div>
                    <div>
                        <div class="d-flex">
                            <p class="me-2">Địa chỉ: </p><span>
                                To 10, Quang Trung, Thái Nguyên, Thái
                                Nguyên
                            </span>
                        </div>
                        <div class="d-flex">
                            <p class="me-2">Điện thoại: </p><span>0981642651</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex flex-column text-end">
                        <a href="#" class="text-dark">Chỉnh sửa</a>
                        <a href="#" class="text-danger">Xóa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 mt-4">
        <a type="button" class="btn btn-danger w-100" data-bs-toggle="modal"
           data-bs-target="#themMoiDiaChi">
            Thêm mới
            địa chỉ
        </a>
    </div>
</div>


<div>
    <div>
        <!-- Modal thêm mới địa chỉ-->
        <!-- The Modal -->
        <div class="modal" id="themMoiDiaChi">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <form action="" class="was-validated">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm địa chỉ mới</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body ">
                            <div>
                                <div class="row">
                                    <div class="mb-3 col-6">
                                        <label for="hoVaTenDC" class="form-label fw-bold">
                                            HỌ VÀ
                                            TÊN<span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="hoVaTenDC"
                                               placeholder="Nhập họ và tên của bạn" required>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="emailDC" class="form-label fw-bold">
                                            EMAIL<span class="text-danger">*</span>
                                        </label>
                                        <input type="email" class="form-control" id="emailDC"
                                               placeholder="Nhập email của bạn" required>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="sdtDC" class="form-label fw-bold">
                                            SĐT<span class="text-danger">*</span>
                                        </label>
                                        <input type="tel" class="form-control" id="sdtDC"
                                               placeholder="Nhập số điện thoại" required>
                                    </div>
                                    <div class="col-12 row">
                                        <div class="mb-3 col-4">
                                            <label for="" class="form-label fw-bold">
                                                TỈNH / THÀNH
                                                PHỐ<span class="text-danger">*</span>
                                            </label>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle border-1 border" type="button"
                                                        id="Tinh" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Chọn tỉnh / thành phố
                                                </button>
                                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="Tinh">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Hà Nội</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            TP. Hồ Chí
                                                            Minh
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="" class="form-label fw-bold">
                                                QUẬN /
                                                HUYỆN<span class="text-danger">*</span>
                                            </label>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle border-1 border" type="button"
                                                        id="Tinh" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Chọn quận huyện
                                                </button>
                                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="Tinh">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            Hà
                                                            đông
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            Nam từ
                                                            niêm
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="" class="form-label fw-bold">
                                                PHƯỜNG /
                                                XÃ<span class="text-danger">*</span>
                                            </label>
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle border-1 border" type="button"
                                                        id="Xa" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Chọn phường xã
                                                </button>
                                                <ul class="dropdown-menu scrollable-menu" aria-labelledby="Xa">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            Hà
                                                            đông
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            Nam từ
                                                            niêm
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mb-3 col-12">
                                        <label for="diaChi" class="form-label fw-bold">
                                            ĐỊA CHỈ<span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="diaChi"
                                               placeholder="Nhập địa chỉ của bạn" required>
                                    </div>
                                    <div class="mb-3 col-12">
                                        <label for="ghiChu" class="form-label fw-bold">
                                            GHI
                                            CHÚ
                                        </label>
                                        <textarea type="text" class="form-control" id="ghiChu"
                                                  aria-label="With textarea"
                                                  placeholder="Nhập ghi chú của bạn"></textarea>
                                    </div>
                                    <div class="mb-3 col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultDC">
                                            <label class="form-check-label ms-2 me-2 text-dark" for="defaultDC">
                                                Đặt làm địa chỉ mặc định
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Lưu thông tin</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>
@* </div> *@
