@model DAL.Entities.KhachHang

@{
    ViewData["Title"] = "Login";
}

<section id="">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>

                    <!-- Hiển thị lỗi tổng quát -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Form đăng nhập -->
                    <form asp-action="Login" asp-controller="TaiKhoan" method="post">
                        <!-- Trường Tài Khoản -->
                        <div class="mb-3">
                            <label class="form-label">Tài khoản</label>
                            <input asp-for="TaiKhoan" class="form-control" placeholder="Nhập tài khoản" />
                            <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                        </div>

                        <!-- Trường Mật khẩu -->
                        <div class="mb-3">
                            <label class="form-label">Mật khẩu</label>
                            <input asp-for="MatKhau" class="form-control" type="password" placeholder="Nhập mật khẩu" />
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>

                        <!-- Nút Đăng nhập -->
                        <button class="btn btn-primary">Đăng nhập</button>
                        <a asp-action="Create" asp-controller="TaiKhoan">Tạo tài khoản mới</a>
                    </form>
                </div>
                <!--/login form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
