<div class="left-sidebar">
    <h2>Loại</h2>
    <div class="panel-group category-products" id="accordian">
        @await Component.InvokeAsync("DanhMuc")
    </div>

    <h2>Thương Hiệu</h2>
    <div class="panel-group category-products" id="accordian">
        @await Component.InvokeAsync("ThuongHieu")
    </div>
</div>
