@{
    ViewData["Title"] = "Upload Images";
}

<h2>Upload Images</h2>

<form method="post" enctype="multipart/form-data" href="/BanHangOnline/Image/Upload" >
    <div class="mb-3">
        <label class="form-label">Choose multiple images:</label>
        <input type="file" name="files" multiple class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
