<div class="col-md-3" style="border-right: 1px solid #ccc; padding: 10px;">
    <ul id="left-menu" class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#" data-url="@Url.Action("Index", "SanPham")">SanphamIndex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-url="@Url.Action("Index", "Home")">HomeIndex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-url="@Url.Action("Privacy", "Home")">HomePrivacy</a>
        </li>
    </ul>
</div>
